body {
  margin: 0;
}

header {
  background-color: green;
  display: flex;
  justify-content: space-around;
}

.nav-container ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.nav-container ul li {
  list-style: none;
}
.nav-container ul li a{
  text-decoration: none;
  color: white;
}